@import "tailwindcss";

:root {
  --background: linear-gradient(
    to bottom,
    #3453d1 0%,
    #2843AF 100%
  );
  --foreground: #3C3C3C;
  --primary: #3454D1;
  --primary-700: #677FDD;
  --primary-500: #9AAAE8;
  --primary-300: #CCD4F4;
  --secondary: #3C3C3C;
  --secondary-700: #787878;
  --secondary-500: #B3B3B3;
  --secondary-300: #EFEFEF;
  --font-poppins: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-700: var(--primary-700);
  --color-primary-500: var(--primary-500);
  --color-primary-300: var(--primary-300);
  --color-secondary: var(--secondary);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-300: var(--secondary-300);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
